* {
  /*font-family: 'Josefin Sans', sans-serif;*/
  /*font-family: 'Yeseva One', cursive;*/
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #faf6ed;
  padding: 40px 0 40px 0;
  background-image: url(image/ESTAMPA.png) ;
  background-size: cover;
  background-position: cover;
  background-attachment: fixed;
}

.menu-container {
  width: 100%;
  height: 55px;
}

.menu {
  margin-bottom: 5rem;
  background: #fb5;
  width: 70%;
  right: 0;
  position: absolute;
  border-radius: 5px 0 0 5px;
}

.menu ul {
  display: flex;
  padding: 10px;
  list-style: none;
}

.menu li a {
  display: block;
  padding: 10px;
  color: #4b3621;
  text-decoration: none;
  font-family: "Yeseva One", cursive;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.menu li a:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

h1 {
  padding-bottom: 50px;
  color: #4b3621;
  flex-wrap: wrap;
  font-size: 6rem;
  width: 90%;
  max-width: 800px;
  
}

.principal-content {
  width: 80%;
  margin: auto;
  padding-top: 40px;
}

section a {
  margin-bottom: 200px;
}


.character-content {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.funko {
  max-width: 300px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.funko-text {
  max-width: 500px;
  width: 90%;
  flex-direction: column;
  padding: 10px;
  padding-top: 30px;
  place-content: center;
}

h2 {
  font-family: "Yeseva One", cursive;
  font-size: 1.2rem;
  color: #4b3621;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  background: #fb5;
  padding: 5px 0 5px 5px;
  text-align: center;
  border-radius: 5px;
}

.book {
  font-size: 1rem;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.footer-info p {
  background: #fb5;
  padding: 10px;
  width: 70%;
  border-radius: 0 5px 5px 0;
  display: flex;
  justify-content: right;
  font-family: "Yeseva One", cursive;
  font-size: 1rem;
  font-weight: bold;
  color: #4b3621;
  align-items: center;
}

.footer-info a{
  font-size: 2.4rem;
  margin-left: 15px;
  color: #4b3621;
  cursor: pointer;
}

.footer-info a:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.js-scroll {
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(-30px, 0, 0);
}

.js-scroll.ativo {
  opacity: 1;
  transition: 0.5s;
  transform: translate3d(0, 0, 0);
}

.js-scroll2 {
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(30px, 0, 0);
}

.js-scroll2.ativo {
  opacity: 1;
  transition: 0.5s;
  transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 769px) {
  .character-content {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .character-column {
    flex-direction: column-reverse;
  }

  .principal-content {
    width: 100%;
  }

  h1 {
    width: 100%;
    padding: 20px 0 50px 30px;
    font-size: 5rem;
    display: flex;
    text-align: center;
  }

  .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0;
  }

  .menu li a {
    font-size: 1rem;
  }

  .footer-info p {
    width: 100%;
    justify-content: center;
    border-radius: 0;
  }
  .js-accordion p {
    display: none;
  }

  .js-accordion h2::after {
    content: '↴';
    padding-left: 10px;
  }

  .js-accordion h2.ativo::after {
    content: '⬏';
    padding-left: 10px;
  }

  .js-accordion p.ativo {
    display: block;
    margin-bottom: 250px;
    animation: slideDown 0.8s forwards;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      max-height: 0;
    }

    to {
      opacity: 1;
      max-height: 150px;
    }
  }
  h2 {
    cursor: pointer;
  }
}
